# Data Analysis
This is a starter notebook for loading the IPUMS data and perform analyses.

In [29]:
# Load Dependencies
from pathlib import Path
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [30]:
# Load Custom Scripts
from src.utils.ipums_extract import (
    get_ipums_data,
    load_ipums_from_pkl,
)

## Load IPUMS Dataset

In [31]:
# Define Parameters (do not push your API key to VCS)
API_KEY = "59cba10d8a5da536fc06b59de2965f8fa8d8478dabad9751c577a909"
DOWNLOAD_DIR = Path(r"data")
PKL_EXPORT = True
PKL_PATH = Path(r"data/ipums_extract.pkl")

collection = "ipumsi"
description = "data mining mozambique project"
samples = ["mz1997a", "mz2007a", "mz2017a"]

In [32]:
# Define Variables
variables = [
    # Tech Households
    "PERSONS",
    # Group Quarters
    "GQ", "GQTYPE", "UNREL",
    # Global Geography
    "URBAN", "POPDENSGEO1", "POPDENSGEO2",
    # National Geography
    "GEO1_MZ", "GEO2_MZ",
    # Household Economic
    "OWNERSHIP",
    # Utilities
    "ELECTRIC", "WATSUP", "PHONE",
    # Appliances
    "AUTOS", "MOTORCYCLE", "BIKE", "COMPUTER", "TV", "RADIO",
    # Dwelling Characteristics
    "ROOMS", "BEDROOMS", "TOILET", "FLOOR", "WALL", "ROOF",
    # Constructed Household
    "HHTYPE", "NFAMS", "NCOUPLES", "NMOTHERS", "NFATHERS",
    # Constructed Family
    "FAMSIZE", "NCHILD", "NCHLT5", "ELDCH", "YNGCH",
    # Demographic
    "RELATE", "AGE", "SEX", "MARST", "CONSENS", 
    # Fertility and Mortality
    "CHBORN", "CHSURV", "CHBORNF", "CHBORNM", "CHSURVF", "CHSURVM", "BIRTHSLYR",
    "BIRTHSURV", "MORTMOT", "MORTFAT",
    # Navity and Birthplace
    "NATIVITY", "CITIZEN", "NATION", "BPL1_MZ", "BPL2_MZ",
    # Ethnicity and Language
    "RELIGION", "RACE", "SPEAKPORT", "LANGMZ", "MTONGMZ", 
    # Education
    "SCHOOL", "LIT", "EDATTAIN",
    # Work
    "EMPSTAT", "LABFORCE", "EMPSECT",
    # Occupation, Industry
    "OCCISCO", "INDGEN",
    # Global Migration - Not giving us any other migration variables,
    # as they would likely be too correlated and uninteresting (AH)
    "MIGRATE1", "MIGRATE5", 
    # Disability
    "DISABLED", "DISEMP", "DISBLND", "DISDEAF", "DISMUTE", "DISLOWR", "DISUPPR",
    "DISMNTL", "DISORIG"
]

In [33]:
# Get IPUMS Data
ipums_df = get_ipums_data(
    collection=collection,
    description=description,
    samples=samples,
    variables=variables,
    api_key=API_KEY,
    download_dir=DOWNLOAD_DIR,
    pkl_export=PKL_EXPORT,
    pkl_path=PKL_PATH
)

Extract submitted to IPUMS. Extract ID: 2.
Waiting for extract to finish processing on IPUMS server...

KeyboardInterrupt:

In [ ]:
# Load from PKL
ipums_df_pkl = load_ipums_from_pkl(PKL_PATH)

In [ ]:
# Remove Migration NIUS and unknown
mig1_data = ipums_df_pkl[~ipums_df_pkl['MIGRATE1'].isin(['NIU (not in universe)', 'Unknown/missing'])].copy()
mig5_data = ipums_df_pkl[~ipums_df_pkl['MIGRATE5'].isin(['NIU (not in universe)', 'Unknown/missing'])].copy()

# Binarize 
map_vals = {'Same major, same minor administrative unit':0,
            'Same major administrative unit':0,
            'Same major, different minor administrative unit':0,
            'Different major administrative unit':1,
            'Abroad':0}
mig1_data['mig_provincial'] = mig1_data['MIGRATE1'].map(map_vals)
mig5_data['mig_provincial'] = mig5_data['MIGRATE5'].map(map_vals)

# Remove original migrate vars
mig1_data = mig1_data.drop(['MIGRATE1', 'MIGRATE5'], axis=1)
mig5_data = mig5_data.drop(['MIGRATE1', 'MIGRATE5'], axis=1)

In [ ]:
print(mig1_data['mig_provincial'].value_counts(dropna=False))
print(mig5_data['mig_provincial'].value_counts(dropna=False))

mig_provincial
0    5879434
1      50095
Name: count, dtype: int64
mig_provincial
0    4847198
1     127371
Name: count, dtype: int64

## Data Analysis

### Value Counts for Each Set
In this section, we print out the value counts for each column in the sets. This
will allow us to identify useless (i.e., all the same value) or unique (i.e.,
will not generalize well) columns for removal.

In [ ]:
for col in mig1_data.columns:
    print(mig1_data[col].value_counts())
    print('-'*30)

COUNTRY
Mozambique    5929529
Name: count, dtype: int64
------------------------------
YEAR
2017    2545554
2007    1931544
1997    1452431
Name: count, dtype: int64
------------------------------
SAMPLE
Mozambique 2017    2545554
Mozambique 2007    1931544
Mozambique 1997    1452431
Name: count, dtype: int64
------------------------------
SERIAL
26886000     58
342270000    56
261828000    52
442445000    50
261007000    50
             ..
572222000     1
515565000     1
614356000     1
614348000     1
478224000     1
Name: count, Length: 612509, dtype: Int64
------------------------------
PERSONS
6     979624
5     956894
4     888129
3     686787
7     641334
8     468220
2     398578
9     314093
10    152814
1     140392
11     99157
12     67139
13     39168
14     26461
15     18694
16     13858
17      9780
18      7793
19      4135
20      3105
21      2806
22      2249
24      1468
23      1098
25      1067
26       769
27       696
28       555
30       340
29       320
31       313
35       296
32       213
36       198
39       191
34       150
44       123
33        94
47        92
45        90
37        73
50        48
48        48
41        40
38        37
Name: count, dtype: Int64
------------------------------
HHWT
10.00    5892542
10.01      17008
9.99       15087
10.02       2567
0.00        2325
Name: count, dtype: int64
------------------------------
GQ
Households                                            5921521
Other group quarters                                     2430
1-person unit created by splitting large household       2325
Institutions                                             1875
Unknown/group quarters not identified                    1378
Name: count, dtype: int64
------------------------------
GQTYPE
NIU (not in universe)                                                           3375967
1-person unit created by splitting large household                                 2325
Other group quarters                                                               1443
Unknown                                                                            1378
Floating population                                                                 844
Boarding school or student housing                                                  716
Military or police institution                                                      534
Hospital, nursing home, hospice, or instutions for persons with disabilities        300
Prisons, reformatories, or correctional institutions                                168
Religious institution, monastery, seminary, or convent                              157
Hotel, pension, lodging, or boarding house                                          143
Name: count, dtype: int64
------------------------------
UNREL
0     5727870
1      159823
2       24683
3        7682
4        3477
9+       2220
5        1665
6         981
7         644
8         484
Name: count, dtype: int64
------------------------------
URBAN
Rural      4100523
Urban      1828805
Unknown        201
Name: count, dtype: int64
------------------------------
POPDENSGEO1
70.21      516948
48.64      469693
51.82      381628
37.83      367474
28.44      277828
38.61      272480
25.38      242277
29.02      215269
32.01      208824
81.62      179204
30.12      175302
17.81      169543
14.03      162806
24.33      157669
20.92      154763
21.13      139471
23.34      134197
18.44      132638
19.13      124213
18.69      121006
16.7       118600
52.08      114888
16.12      114267
11.55      110508
9.52       109953
16.68      108283
3208.51    106156
3095.45    103122
14.45      102845
2818.73     93669
16.04       92778
35.31       78778
6.26        72449
Name: count, dtype: Int64
------------------------------
POPDENSGEO2
2725.889893    97237
226.729996     86784
92.940002      85747
259.790009     75071
27.02          68422
               ...
4.7             2042
1.72            1919
2.71            1881
3.57            1739
2.15            1399
Name: count, Length: 343, dtype: Int64
------------------------------
GEO1_MZ
Nampula             1171056
Zamb√©zia            1114995
Tete                 522328
Sofala               490706
Cabo Delgado         488632
Manica               402277
Maputo               372870
Inhambane            368760
Gaza                 349750
Niassa               345208
Cidade de Maputo     302947
Name: count, dtype: int64
------------------------------
GEO2_MZ
Cidade da Matola                                   202536
Cidade de Nampula, Rapale                          191880
Beira, Dondo                                       180655
Xai-Xai, Bilene, Mandlakazi, Limpopo, Chongoene    179257
Milange, Molumbo                                   165198
                                                    ...
Muembe                                               8555
Majune                                               8515
Massingir                                            8510
Meluco                                               8080
Muanza                                               7507
Name: count, Length: 118, dtype: int64
------------------------------
OWNERSHIP
Owned                    4101543
Not owned                 356732
Unknown                    16695
NIU (not in universe)       2128
Name: count, dtype: int64
------------------------------
OWNERSHIPD
Owned                           4101543
Renting, not specified           196241
Free/usufruct (no cash rent)     123258
Not owned, other                  37233
Unknown                           16695
NIU (not in universe)              2128
Name: count, dtype: int64
------------------------------
ELECTRIC
No                       4855794
Yes                      1022786
Unknown                    44435
NIU (not in universe)       6514
Name: count, dtype: int64
------------------------------
WATSUP
No piped water                               4384590
Have access to public piped water             558820
Piped within the building or plot of land     322416
Piped outside the dwelling                    280231
Piped inside dwelling                         209057
Piped, shared with other households           167901
NIU (not in universe)                           6514
Name: count, dtype: int64
------------------------------
PHONE
No                       4407363
Yes                        67638
NIU (not in universe)       2097
Name: count, dtype: int64
------------------------------
AUTOS
No autos                         4309730
Have auto, number unspecified     165279
NIU (not in universe)               2089
Name: count, dtype: int64
------------------------------
MOTORCYCLE
No motorcycles                         4218138
Have motorcycle, number unspecified     256861
NIU (not in universe)                     2099
Name: count, dtype: int64
------------------------------
BIKE
No bicycles                           2932357
Have a bicycle, number unspecified    1542825
NIU (not in universe)                    1916
Name: count, dtype: int64
------------------------------
COMPUTER
No                       4311687
Yes                       163304
NIU (not in universe)       2107
Name: count, dtype: int64
------------------------------
TV
No                                             3637003
Yes, color or black-and-white not specified     838092
NIU (not in universe)                             2003
Name: count, dtype: int64
------------------------------
RADIO
No                       3399245
Yes                      2488559
Unknown/missing            35566
NIU (not in universe)       6159
Name: count, dtype: int64
------------------------------
ROOMS
2                        1823734
3                        1448280
1                        1267659
4                        1164035
5                         139114
6                          41806
7                          17656
8                           9770
NIU (not in universe)       6514
9                           5414
10                          2722
11                          1001
12                           849
13                           350
14                           211
16                           154
15                            85
20                            79
19                            36
17                            30
18                            30
Name: count, dtype: int64
------------------------------
BEDROOMS
1                        2642518
2                        2117510
3                         882633
4                         229758
5                          31279
6                          10988
NIU (not in universe)       6514
7                           3988
8                           1865
9                           1044
10                           761
11                           205
12                           162
13                           156
15                           109
14                            39
Name: count, dtype: int64
------------------------------
TOILET
Non-flush, latrine                  3071681
No toilet                           2442753
Flush toilet                         279299
Non-flush, other and unspecified     129234
NIU (not in universe)                  6514
Unknown                                  48
Name: count, dtype: int64
------------------------------
FLOOR
None/unfinished (earth)    3127080
Cement                     1189601
Tile                         85128
Wood                         35572
Other finished, n.e.c.       32284
Marble                        5293
NIU (not in universe)         2128
Unknown/missing                 12
Name: count, dtype: int64
------------------------------
WALL
Mud with wood/wattle                   1867898
Adobe                                  1617814
Reed, bamboo, or palm                   930565
Cement blocks                           893085
Brick                                   455104
Wood, fibercement, zinc, or plywood      99786
Other material                           54855
NIU (not in universe)                     6514
Plastic sheeting, cardboard               3896
Unknown/missing                             12
Name: count, dtype: int64
------------------------------
ROOF
Thatch (straw, grass, leaves, palm, etc.)    3730276
Zinc or tin                                  1886511
Asbestos                                      141497
Reinforced concrete (slab)                     94962
Other, unspecified                             49598
Tile, unspecified material                     12555
Tile or cement                                  7604
NIU (not in universe)                           6514
Unknown/missing                                   12
Name: count, dtype: int64
------------------------------
HHTYPE
Married/cohab couple with children               2419390
Extended family, relatives only                  2167380
Single-parent family                              661478
Married/cohab couple, no children                 217894
Composite household, family and non-relatives     181851
One-person household                              137763
Unclassifiable                                     65964
Polygamous family                                  64425
Non-family household                                9079
Group quarters                                      4305
Name: count, dtype: int64
------------------------------
NFAMS
1 family              5737071
2 families             154501
3 families              23228
4 families               7002
5 families               2829
9 or more families       2328
6 families               1387
7 families                773
8 families                410
Name: count, dtype: int64
------------------------------
NCOUPLES
1 couple                           4179024
No married couples in household    1565794
2 couples                           158045
3 couples                            22063
4 couples                             3885
5 couples                              493
6 couples                              177
7 couples                               48
Name: count, dtype: int64
------------------------------
NMOTHERS
1 mother                          4285402
No mothers in household            901078
2 mothers                          581010
3 mothers                          123383
4 mothers                           28352
5 mothers                            7077
6 mothers                            2120
7 mothers                             684
8 mothers                             263
9 or more mothers in household        160
Name: count, dtype: int64
------------------------------
NFATHERS
1 father                   3883699
No fathers in household    1889611
2 fathers                   136049
3 fathers                    17246
4 fathers                     2489
5 fathers                      310
6 fathers                      125
Name: count, dtype: int64
------------------------------
PERNUM
1     1421356
2     1244749
3      938952
4      817218
5      589290
6      391028
7      223735
8      130323
9       71516
10      37429
11      22380
12      13848
13       8510
14       5591
15       3804
16       2655
17       1828
18       1306
19        877
20        671
21        526
22        390
23        291
24        247
25        184
26        147
27        119
28         93
29         73
30         60
31         55
32         43
33         35
34         35
35         32
36         24
37         17
38         15
39         15
40         10
41         10
44          9
42          8
43          8
45          6
46          4
47          3
48          2
49          1
50          1
Name: count, dtype: Int64
------------------------------
PERWT
10.00    3433748
10.01      53925
9.96       50629
9.89       46009
10.08      43285
          ...
12.27         10
14.13          8
16.13          7
31.29          7
53.50          2
Name: count, Length: 431, dtype: int64
------------------------------
RESIDENT
Present resident    5754489
Absent resident      175040
Name: count, dtype: int64
------------------------------
FAMSIZE
6                           969044
5                           957477
4                           890400
3 family members present    690360
7                           636081
8                           460625
2 family members present    402746
9                           304106
1 family member present     180905
10                          148710
11                           95776
12                           64187
13                           37477
14                           25687
15                           17782
16                           13169
17                            9206
18                            7175
19                            3967
20                            2901
21                            2664
22                            1964
24                            1314
23                            1140
25                            1074
27                             637
26                             622
28                             423
29                             373
31                             313
30                             170
32                             152
47                             139
36                             137
35                             127
34                              97
33                              91
44                              80
38                              75
45                              45
41                              40
37                              36
39                              35
Name: count, dtype: int64
------------------------------
NCHILD
0                                  4019086
1                                   553090
2                                   439260
3                                   351532
4                                   272974
5                                   152305
6                                    82871
7                                    36932
8                                    12763
9 or more children in household       8716
Name: count, dtype: int64
------------------------------
NCHLT5
0                                                  4680149
1                                                   772837
2                                                   413487
3                                                    55652
4                                                     6222
5                                                      879
6                                                      197
7                                                       67
8                                                       27
9 or more own children under age 5 in household         12
Name: count, dtype: int64
------------------------------
ELDCH
No own child in household    4019086
6                              94998
4                              94998
10                             92658
7                              92299
12                             92077
3                              91983
5                              89211
1                              88614
2                              86847
15                             83486
8                              79720
14                             79186
9                              78877
0                              77511
13                             77285
11                             71084
17                             69378
16                             67564
18                             62302
20                             46930
19                             45592
22                             31581
21                             30251
23                             23617
25                             20339
24                             18846
27                             13837
26                             13585
28                             11273
30                             11073
29                              9071
32                              7491
50 or older                     6981
31                              6344
35                              5465
33                              4706
34                              4451
37                              3802
36                              3599
38                              3136
40                              3025
39                              2841
42                              2267
41                              1949
45                              1604
43                              1558
47                              1229
44                              1121
46                              1023
48                               951
49                               827
Name: count, dtype: int64
------------------------------
YNGCH
No own child in household    4019086
1                             342572
0                             314138
2                             283533
3                             187424
4                             121713
5                              86838
6                              71660
7                              62587
8                              47099
10                             43424
9                              39424
12                             35235
11                             30652
13                             27247
14                             24399
15                             23835
17                             17817
16                             17392
18                             15859
20                             11872
19                             11071
22                              8551
21                              7849
23                              7041
25                              6760
50 or older                     5913
24                              5670
27                              4788
30                              4624
26                              4199
28                              4194

In [ ]:
for col in mig5_data.columns:
    print(mig5_data[col].value_counts())
    print('-'*30)

COUNTRY
Mozambique    4974569
Name: count, dtype: int64
------------------------------
YEAR
2017    2122246
2007    1617537
1997    1234786
Name: count, dtype: int64
------------------------------
SAMPLE
Mozambique 2017    2122246
Mozambique 2007    1617537
Mozambique 1997    1234786
Name: count, dtype: int64
------------------------------
SERIAL
26886000     59
261007000    49
442445000    49
361255000    48
115823000    47
             ..
590466000     1
590464000     1
590461000     1
590484000     1
590477000     1
Name: count, Length: 609525, dtype: Int64
------------------------------
PERSONS
6     805890
5     777675
4     714101
3     577308
7     534657
8     394412
2     377002
9     266751
1     139068
10    130368
11     84665
12     57273
13     33300
14     22402
15     15811
16     11717
17      8266
18      6541
19      3466
20      2606
21      2334
22      1909
24      1235
23       929
25       871
26       658
27       593
28       468
30       290
29       270
31       265
35       261
39       180
32       180
36       172
34       137
44       108
33        87
47        75
37        67
50        49
45        47
48        41
41        33
38        31
Name: count, dtype: Int64
------------------------------
HHWT
10.00    4943984
10.01      13961
9.99       12323
0.00        2267
10.02       2034
Name: count, dtype: int64
------------------------------
GQ
Households                                            4967152
1-person unit created by splitting large household       2267
Other group quarters                                     2187
Institutions                                             1779
Unknown/group quarters not identified                    1184
Name: count, dtype: int64
------------------------------
GQTYPE
NIU (not in universe)                                                           2844906
1-person unit created by splitting large household                                 2267
Other group quarters                                                               1302
Unknown                                                                            1184
Floating population                                                                 749
Boarding school or student housing                                                  706
Military or police institution                                                      532
Hospital, nursing home, hospice, or instutions for persons with disabilities        265
Religious institution, monastery, seminary, or convent                              152
Hotel, pension, lodging, or boarding house                                          136
Prisons, reformatories, or correctional institutions                                124
Name: count, dtype: int64
------------------------------
UNREL
0     4799657
1      137866
2       21587
3        6819
4        3051
9+       2164
5        1470
6         907
7         590
8         458
Name: count, dtype: int64
------------------------------
URBAN
Rural      3396668
Urban      1577743
Unknown        158
Name: count, dtype: int64
------------------------------
POPDENSGEO1
70.21      422009
48.64      384971
51.82      315673
37.83      299462
28.44      230659
38.61      229119
25.38      201865
29.02      179329
32.01      176531
81.62      150111
30.12      146460
17.81      139889
24.33      133219
14.03      132428
20.92      129895
21.13      121799
18.44      115050
23.34      112112
19.13      105596
18.69      104192
16.7       101995
52.08      100708
16.12       98725
3208.51     95226
16.68       94212
11.55       92618
3095.45     91693
14.45       89662
9.52        88436
2818.73     82993
16.04       78544
35.31       69182
6.26        60206
Name: count, dtype: Int64
------------------------------
POPDENSGEO2
2725.889893    83017
226.729996     72583
92.940002      69255
259.790009     64920
27.02          57826
               ...
4.7             1691
1.72            1611
2.71            1561
3.57            1389
2.15            1138
Name: count, Length: 343, dtype: Int64
------------------------------
GEO1_MZ
Nampula             966801
Zamb√©zia            915092
Tete                434372
Sofala              415346
Cabo Delgado        411219
Manica              337116
Inhambane           320203
Maputo              320001
Gaza                303437
Niassa              281070
Cidade de Maputo    269912
Name: count, dtype: int64
------------------------------
GEO2_MZ
Cidade da Matola                                   175526
Cidade de Nampula, Rapale                          162295
Beira, Dondo                                       157716
Xai-Xai, Bilene, Mandlakazi, Limpopo, Chongoene    156381
Milange, Molumbo                                   133618
                                                    ...
Massingir                                            7255
Majune                                               6920
Muembe                                               6882
Meluco                                               6874
Muanza                                               6091
Name: count, Length: 118, dtype: int64
------------------------------
OWNERSHIP
Owned                    3421165
Not owned                 302827
Unknown                    13838
NIU (not in universe)       1953
Name: count, dtype: int64
------------------------------
OWNERSHIPD
Owned                           3421165
Renting, not specified           168227
Free/usufruct (no cash rent)     103704
Not owned, other                  30896
Unknown                           13838
NIU (not in universe)              1953
Name: count, dtype: int64
------------------------------
ELECTRIC
No                       4041795
Yes                       889189
Unknown                    37442
NIU (not in universe)       6143
Name: count, dtype: int64
------------------------------
WATSUP
No piped water                               3640110
Have access to public piped water             476446
Piped within the building or plot of land     277882
Piped outside the dwelling                    246846
Piped inside dwelling                         184469
Piped, shared with other households           142673
NIU (not in universe)                           6143
Name: count, dtype: int64
------------------------------
PHONE
No                       3679566
Yes                        58295
NIU (not in universe)       1922
Name: count, dtype: int64
------------------------------
AUTOS
No autos                         3593375
Have auto, number unspecified     144493
NIU (not in universe)               1915
Name: count, dtype: int64
------------------------------
MOTORCYCLE
No motorcycles                         3522797
Have motorcycle, number unspecified     215058
NIU (not in universe)                     1928
Name: count, dtype: int64
------------------------------
BIKE
No bicycles                           2463784
Have a bicycle, number unspecified    1274238
NIU (not in universe)                    1761
Name: count, dtype: int64
------------------------------
COMPUTER
No                       3595161
Yes                       142688
NIU (not in universe)       1934
Name: count, dtype: int64
------------------------------
TV
No                                             3011095
Yes, color or black-and-white not specified     726853
NIU (not in universe)                             1835
Name: count, dtype: int64
------------------------------
RADIO
No                       2836450
Yes                      2102255
Unknown/missing            30053
NIU (not in universe)       5811
Name: count, dtype: int64
------------------------------
ROOMS
2                        1515366
3                        1220870
1                        1048157
4                         991736
5                         121725
6                          36862
7                          15567
8                           8611
NIU (not in universe)       6143
9                           4741
10                          2354
11                           864
12                           739
13                           298
14                           185
16                           129
15                            73
20                            62
19                            32
18                            28
17                            27
Name: count, dtype: int64
------------------------------
BEDROOMS
1                        2185100
2                        1778469
3                         762002
4                         198699
5                          27334
6                           9596
NIU (not in universe)       6143
7                           3486
8                           1632
9                            904
10                           641
11                           170
12                           136
13                           135
15                            89
14                            33
Name: count, dtype: int64
------------------------------
TOILET
Non-flush, latrine                  2592756
No toilet                           2017372
Flush toilet                         246514
Non-flush, other and unspecified     111748
NIU (not in universe)                  6143
Unknown                                  36
Name: count, dtype: int64
------------------------------
FLOOR
None/unfinished (earth)    2574150
Cement                     1026515
Tile                         74002
Wood                         31925
Other finished, n.e.c.       26724
Marble                        4504
NIU (not in universe)         1953
Unknown/missing                 10
Name: count, dtype: int64
------------------------------
WALL
Mud with wood/wattle                   1553736
Adobe                                  1331018
Reed, bamboo, or palm                   786251
Cement blocks                           778457
Brick                                   383205
Wood, fibercement, zinc, or plywood      86253
Other material                           46104
NIU (not in universe)                     6143
Plastic sheeting, cardboard               3392
Unknown/missing                             10
Name: count, dtype: int64
------------------------------
ROOF
Thatch (straw, grass, leaves, palm, etc.)    3086620
Zinc or tin                                  1613439
Asbestos                                      123939
Reinforced concrete (slab)                     84878
Other, unspecified                             41758
Tile, unspecified material                     11216
Tile or cement                                  6566
NIU (not in universe)                           6143
Unknown/missing                                   10
Name: count, dtype: int64
------------------------------
HHTYPE
Married/cohab couple with children               1940990
Extended family, relatives only                  1871917
Single-parent family                              531339
Married/cohab couple, no children                 216327
Composite household, family and non-relatives     156552
One-person household                              136497
Unclassifiable                                     55969
Polygamous family                                  52350
Non-family household                                8662
Group quarters                                      3966
Name: count, dtype: int64
------------------------------
NFAMS
1 family              4807858
2 families             132914
3 families              20393
4 families               6256
5 families               2508
9 or more families       2272
6 families               1252
7 families                727
8 families                389
Name: count, dtype: int64
------------------------------
NCOUPLES
1 couple                           3480535
No married couples in household    1332776
2 couples                           138336
3 couples                            18961
4 couples                             3345
5 couples                              424
6 couples                              150
7 couples                               42
Name: count, dtype: int64
------------------------------
NMOTHERS
1 mother                          3501726
No mothers in household            847652
2 mothers                          490631
3 mothers                          102709
4 mothers                           23427
5 mothers                            5797
6 mothers                            1722
7 mothers                             558
8 mothers                             215
9 or more mothers in household        132
Name: count, dtype: int64
------------------------------
NFATHERS
1 father                   3184845
No fathers in household    1655879
2 fathers                   116947
3 fathers                    14434
4 fathers                     2100
5 fathers                      257
6 fathers                      107
Name: count, dtype: int64
------------------------------
PERNUM
1     1411973
2     1119212
4      583146
5      529611
3      501447
6      362206
7      205244
8      116428
9       61813
10      31258
11      18311
12      11227
13       6904
14       4595
15       3115
16       2180
17       1496
18       1050
19        725
20        548
21        430
22        324
23        251
24        215
25        154
26        128
27        105
28         85
29         64
30         53
31         44
32         35
34         31
33         29
35         26
36         20
37         14
39         13
38         12
40          8
43          7
41          6
42          6
44          6
45          4
46          3
47          3
48          2
49          1
50          1
Name: count, dtype: Int64
------------------------------
PERWT
10.00    2885671
9.89       39582
10.01      39271
9.96       38014
10.03      35625
          ...
12.27         10
14.13          8
31.29          7
16.13          7
53.50          2
Name: count, Length: 430, dtype: int64
------------------------------
RESIDENT
Present resident    4813326
Absent resident      161243
Name: count, dtype: int64
------------------------------
FAMSIZE
6                           797051
5                           777802
4                           715336
3 family members present    579680
7                           530128
8                           387817
2 family members present    380761
9                           258012
1 family member present     176081
10                          126739
11                           81638
12                           54660
13                           31805
14                           21725
15                           15035
16                           11048
17                            7748
18                            6024
19                            3305
20                            2417
21                            2216
22                            1648
24                            1102
23                             950
25                             866
26                             532
27                             531
28                             355
29                             317
31                             262
30                             145
32                             122
47                             115
36                             108
35                              99
34                              84
33                              81
44                              64
38                              63
41                              33
39                              32
37                              30
45                               2
Name: count, dtype: int64
------------------------------
NCHILD
0                                  3076451
1                                   548649
2                                   435727
3                                   349439
4                                   271527
5                                   151849
6                                    82687
7                                    36814
8                                    12715
9 or more children in household       8711
Name: count, dtype: int64
------------------------------
NCHLT5
0                                                  3733472
1                                                   766742
2                                                   411546
3                                                    55436
4                                                     6195
5                                                      876
6                                                      196
7                                                       67
8                                                       27
9 or more own children under age 5 in household         12
Name: count, dtype: int64
------------------------------
ELDCH
No own child in household    3076451
6                              94349
4                              94241
10                             92088
7                              91551
12                             91536
3                              91229
5                              88535
1                              87841
2                              86096
15                             83005
8                              79037
14                             78694
9                              78267
0                              76894
13                             76881
11                             70720
17                             69044
16                             67240
18                             61997
20                             46728
19                             45319
22                             31422
21                             30096
23                             23490
25                             20269
24                             18808
27                             13775
26                             13532
28                             11248
30                             11039
29                              9047
32                              7458
50 or older                     6960
31                              6330
35                              5430
33                              4682
34                              4427
37                              3782
36                              3580
38                              3126
40                              3004
39                              2833
42                              2258
41                              1943
45                              1598
43                              1546
47                              1231
44                              1116
46                              1022
48                               949
49                               825
Name: count, dtype: int64
------------------------------
YNGCH
No own child in household    3076451
1                             340385
0                             312340
2                             281722
3                             185956
4                             120694
5                              86116
6                              71136
7                              62176
8                              46788
10                             43200
9                              39176
12                             35035
11                             30510
13                             27107
14                             24245
15                             23703
17                             17690
16                             17336
18                             15761
20                             11820
19                             10988
22                              8488
21                              7812
23                              7002
25                              6740
50 or older                     5897
24                              5638
27                              4773
30                              4604
26                              4200
28                              4182
32                              3569

### Crosstabs

In [ ]:
len(mig5_data.columns)
mig5_data.columns.tolist()

['COUNTRY',
 'YEAR',
 'SAMPLE',
 'SERIAL',
 'PERSONS',
 'HHWT',
 'GQ',
 'GQTYPE',
 'UNREL',
 'URBAN',
 'POPDENSGEO1',
 'POPDENSGEO2',
 'GEO1_MZ',
 'GEO2_MZ',
 'OWNERSHIP',
 'OWNERSHIPD',
 'ELECTRIC',
 'WATSUP',
 'PHONE',
 'AUTOS',
 'MOTORCYCLE',
 'BIKE',
 'COMPUTER',
 'TV',
 'RADIO',
 'ROOMS',
 'BEDROOMS',
 'TOILET',
 'FLOOR',
 'WALL',
 'ROOF',
 'HHTYPE',
 'NFAMS',
 'NCOUPLES',
 'NMOTHERS',
 'NFATHERS',
 'PERNUM',
 'PERWT',
 'RESIDENT',
 'FAMSIZE',
 'NCHILD',
 'NCHLT5',
 'ELDCH',
 'YNGCH',
 'RELATE',
 'RELATED',
 'AGE',
 'SEX',
 'MARST',
 'MARSTD',
 'CONSENS',
 'CHBORN',
 'CHSURV',
 'CHBORNF',
 'CHBORNM',
 'CHSURVF',
 'CHSURVM',
 'BIRTHSLYR',
 'BIRTHSURV',
 'MORTMOT',
 'MORTFAT',
 'NATIVITY',
 'CITIZEN',
 'NATION',
 'BPL1_MZ',
 'BPL2_MZ',
 'RELIGION',
 'RELIGIOND',
 'RACE',
 'SPEAKPORT',
 'LANGMZ',
 'MTONGMZ',
 'SCHOOL',
 'LIT',
 'EDATTAIN',
 'EDATTAIND',
 'EMPSTAT',
 'EMPSTATD',
 'LABFORCE',
 'EMPSECT',
 'OCCISCO',
 'INDGEN',
 'DISABLED',
 'DISEMP',
 'DISBLND',
 'DISDEAF',
 'DISMUTE',
 'DISLOWR',
 'DISUPPR',
 'DISMNTL',
 'DISORIG',
 'mig_provincial']

In [34]:
pd.crosstab(mig5_data['YEAR'], mig5_data['mig_provincial'], normalize='index')
# max_diff = abs(tab[0] - tab[1]).max()
# print(max_diff)

mig_provincial         0         1
YEAR
1997            0.956966  0.043034
2007            0.974729  0.025271
2017            0.984283  0.015717

In [38]:
useful_features = []
useless_features = []

for col in mig5_data.columns:
    if col == 'mig_provincial':
        continue
    if mig5_data[col].nunique() > 20:
        continue

    tab = pd.crosstab(mig5_data[col], mig5_data['mig_provincial'], normalize='index')
    max_diff = tab[1].max() - tab[1].min()
    mean_rate = tab[1].mean()
    if max_diff >= 0.02:
        useful_features.append({'feature': col, 'max_diff': round(max_diff, 4), 'mean_rate': round(mean_rate, 4)})
    else:
        useless_features.append({'feature': col, 'max_diff': round(max_diff, 4), 'mean_rate': round(mean_rate, 4)})

useful_df = pd.DataFrame(useful_features).sort_values(by="max_diff", ascending=False).reset_index(drop=True)
useless_df = pd.DataFrame(useless_features).sort_values(by="max_diff", ascending=False).reset_index(drop=True)

print("Top useful variables:")
print(useful_df.head(10))

print("\nSample of less useful variables:")
print(useless_df.head(10))

Top useful variables:
    feature  max_diff  mean_rate
0    GQTYPE    0.5333     0.2149
1        GQ    0.3215     0.1705
2     NFAMS    0.2800     0.1243
3     UNREL    0.2787     0.1193
4  EMPSTATD    0.2596     0.0464
5      HHWT    0.2537     0.0591
6      BIKE    0.2387     0.0951
7    TOILET    0.2386     0.0667
8      ROOF    0.2386     0.0672
9      WALL    0.2386     0.0528

Sample of less useful variables:
    feature  max_diff  mean_rate
0    NCHILD    0.0193     0.0175
1  DISABLED    0.0164     0.0184
2   DISMNTL    0.0163     0.0189
3  LABFORCE    0.0158     0.0283
4    MARSTD    0.0157     0.0247
5  NATIVITY    0.0157     0.0182
6   CONSENS    0.0157     0.0259
7    DISEMP    0.0153     0.0241
8     MARST    0.0144     0.0257
9  RESIDENT    0.0138     0.0320

In [39]:
pd.crosstab(mig5_data['GQTYPE'], mig5_data['mig_provincial'], normalize='index')

mig_provincial                                             0         1
GQTYPE
1-person unit created by splitting large household  0.745920  0.254080
Boarding school or student housing                  0.681303  0.318697
Floating population                                 0.918558  0.081442
Hospital, nursing home, hospice, or instutions ...  0.950943  0.049057
Hotel, pension, lodging, or boarding house          0.772059  0.227941
Military or police institution                      0.434211  0.565789
NIU (not in universe)                               0.967511  0.032489
Other group quarters                                0.859447  0.140553
Prisons, reformatories, or correctional institu...  0.564516  0.435484
Religious institution, monastery, seminary, or ...  0.842105  0.157895
Unknown                                             0.899493  0.100507

In [40]:
pd.crosstab(mig5_data['GQ'], mig5_data['mig_provincial'], normalize='index')

mig_provincial                                             0         1
GQ
1-person unit created by splitting large household  0.745920  0.254080
Households                                          0.974677  0.025323
Institutions                                        0.653176  0.346824
Other group quarters                                0.874257  0.125743
Unknown/group quarters not identified               0.899493  0.100507

### Process Migration Response